* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #4e7e7f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  max-width: 70rem; /* 16px (root font size) * 70 = 1120px */
  padding: 1rem;
  margin: 0 auto;
}
